# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCHdujd6mg__RBGz8g3HMqO3teulE2keZA
VITE_FIREBASE_AUTH_DOMAIN=careergap-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=careergap-ai
VITE_FIREBASE_STORAGE_BUCKET=careergap-ai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=36703100614
VITE_FIREBASE_APP_ID=1:36703100614:web:a5026c348f488bd1da01c7
VITE_FIREBASE_MEASUREMENT_ID=G-W4BNQRYY1Y

# Backend API URL (Default proxy uses /api)
VITE_API_BASE_URL=/api
